In [1]:
#ans1
#A list is a data structure in python that is a mutable, or changeable, ordered sequence of elements.
list1=[1,5,2,6,8,9]
list1.reverse()
print(list1)

[9, 8, 6, 2, 5, 1]

In [3]:
#ans2 
list2=[5,6,8,9,7,2]
list2.pop()
print(list2)

[5, 6, 8, 9, 7]

In [4]:
#ans3
list1=[2,33,222,14,25]
list1[-1]

25

In [5]:
#ans 4
#append = adds ELEMENT AT THE LAST INDEX .
#EXAMPLE
list1 = [1,5,2,6]
list1.append('nitin')
print(list1)
#extend = odds iterable at the last index.
#example
list2 = [5,6,8,9]
list1.extend('nitin')
print(list2)

[1, 5, 2, 6, 'nitin']
[5, 6, 8, 9]

In [10]:
#ans 5
#get the largest number 
list1=[5,6,9,8,55,22,66,42,36]
list1.sort()
print('largest number',list1[-1])
print('smallest number',list1[0])

largest number 66
smallest number 5

In [7]:
#and 6
list1 = [1,2,5,6]
list2 = [1,2,5,6]
if list1==list2:
    print('list and list2 are equal')
else:
    print('list1 and list2 are not equal')

list and list2 are equal

In [14]:
#ans 7
listt = ['nitin','saini','student','nn','n']
for i in listt:
    if len(i)>2:
        if i [0]==i[-1]:
            print(i)

nitin

In [15]:
#ans8
list1=[1,5,8,9,9,9,9,3,5]
set(list1)

{1, 3, 5, 8, 9}

In [16]:
#ans9
list1 = []
if len(list1)==0:
    print('list is empty')
else:
    print('list is not empty')

list is empty

In [17]:
#ans-10
list1 = [1,2,6,7,3,4,8,9,10,55]
list2 = [1,6,7,9,2,3,4,8,10,55]
ans = False
for i in list1:
    if i in list1:
        if i in list2:
            continue
        else:
            print(ans)
            break 
else:
    ans = True
    print(ans)

True

In [19]:
#ans11
listtt = [1,2,3,4,5,26,27,28,29,30]
for i in listtt:
    a= (i**i)
    print (a)

1
4
27
256
3125
6156119580207157310796674288400203776
443426488243037769948249630619149892803
33145523113253374862572728253364605812736
2567686153161211134561828214731016126483469
205891132094649000000000000000000000000000000

In [21]:
#ans12
list1 = [5,2,8,9,5,5,5,6,6,6,6,7,7,7]
list1 = set(list1)
x = list(list2)
list(x)

[1, 6, 7, 9, 2, 3, 4, 8, 10, 55]

In [28]:
#ans13
list1 = ['n','i','t','i','n']
str1 = ''
for i in list1:
    str1+= i 
print(str1)

nitin

In [ ]:
#ans= 14
list1 = [1,8,9,5,66,88,75,95]
#sir x

In [29]:
#ans 15
list1 = [5,6,8,9,88,75,95]
list1.sort()
print(list1[1])

6

In [32]:
#ans16
list1_list1 = [5,6,5,6,5,9,5,8,55,6,9,5,8,5,5,5]
list2_list2 = set (list1_list1)
print (list2_list2)

{5, 6, 8, 9, 55}

In [ ]:
#ans 17
list1 = ['nitin',{1,2,5,6},[1,5,6,6],50,5.0]
for i in list1:
    if type (i)==list:
        print(i,'True')
        break
else:
    print(False)

In [33]:
#ans 18
listt = [1,2,3,4,5,6,7,8,9,10]
listt = listt[:5]
list2 = listt[-5:]
print(list1,list2)

[5, 6, 8, 9, 75, 88, 95] [1, 2, 3, 4, 5]

In [ ]:
#ans 19
tuple:-ordered, indexed,immutable,allow duplicate values, you can store almost datatype.
    #difference btw tuple ans list:-
    #list:-a list is data structure in python that is mutable, or changeble , ordered sequence of elements .
    #tuple:-ordered, indexed , immutable , allow duplicate values, you can store almost all datatypes

In [38]:
#ans20
tuple1 = (15,5.0,[1,2,3],{1,5,6},{1:2,2:3},'nitin',True,(1,5,6))
print(tuple1)

(15, 5.0, [1, 2, 3], {1, 5, 6}, {1: 2, 2: 3}, 'nitin', True, (1, 5, 6))

In [39]:
#ans20
tuple1 = 5,10,23,20
print(tuple1)

(5, 10, 23, 20)

In [40]:
#ans22
tuplee = ('n','i','t','i','n')
str1 = ''
for i in tuplee:
    str1 +=i
print(str1)

nitin

In [ ]:
#ans23
tuple_1 = (5,8,9,6,3,'n','t')
print(5S in tuple_1)

In [41]:
#ans = 24
tuple1 = (1,5,8,9,8,'nitin',[1,5,6,2])
len(tuple1)

7

In [42]:
#ans25
list1 = [1,5,8,9,5,6,'nitin']
tuple1 = tuple(list1)
print(tuple1)

(1, 5, 8, 9, 5, 6, 'nitin')

In [ ]:
#ans26
tuple1 = (1,5,9,'ns',56,5.2)
a = list (tuple1)
a.reverse()
b = tuple(a)
print (a)

In [43]:
#ans 27
tuple1 =[(1,5,5,6,6,7,8,9)]
print([t[:-1]*(100,)for t in tuple1]) #pending sir batayenge

TypeError: can't multiply sequence by non-int of type 'tuple'

In [44]:
#ans28
tuplee = (1,5,5,6,6,7,8,9)
tuplee.count(8)

1

In [45]:
#ans29
tuplee = [('nitin',),(),(),('iii',),(),(),(2,5,6,4)]
list1 = []
for i in tuplee:
    if len(i)!=0:
        list1.append(i)
print(list1)

[('nitin',), ('iii',), (2, 5, 6, 4)]

In [46]:
#ans 30
a,b,c = (55,88,90)
print(a,b,c)   #tuple unpacking(unzip)

55 88 90

In [48]:
#ans31
tuplee1 = [(50,5),(66.6),(70.7)]
list2 = dict(tuplee1)
print(list2)

TypeError: cannot convert dictionary update sequence element #1 to a sequence

In [50]:
#ans32
tuple = (('a',10),('b',20),('c',30))
dict(tuple1)

ValueError: dictionary update sequence element #0 has length 8; 2 is required

In [54]:
#ans33
dict1 = {'a':90,'b':50,'c':-5,'d':2}
d1 = dict(sorted(dict1.items(),key = lambda a : a[1]))
d2 = dict(sorted(dict1.itmes(),key=lambda a : a[1],reverse = True))
print('accending',d1,'decending',d2,sep = '\n')

TypeError: 'dict' object is not callable

In [55]:
#ans34
dict1 = {1:5,5:2}
dict2 = {2:10,3:6}
dict3 = {}
for d in (dict1,dict2):
    dict3.update(d)
    print(dict3)

{1: 5, 5: 2}
{1: 5, 5: 2, 2: 10, 3: 6}

In [58]:
#ans 35
dictt = {'a':5,'b':6,'c':7,'d':8}
key = input()
if key in dictt.keys():
    print(key,'already exists')
else:
    print(key,'does not exist')

3
3 does not exist

In [ ]:
#ans 36

In [59]:
#ans 37
dictt = {'a':5,'b':6,'c':7,'d':8}
key = input()
if key in dictt.keys():
    print(key,'present')
else:
    print(key,'key not present')

In [61]:
#ans 38
dict1 = dict()
for i in range (1,16):
    dict1[i]= None
print(dict1)

TypeError: 'dict' object is not callable

In [ ]:
#ans 39

In [63]:
#ans 40
dict1 = {1:2,3:4,5:6}
dict2 = {7:8,9:10,11:12}
dict3 = dict1.copy()
dict3.update(dict2)
print(dict3)

{1: 2, 3: 4, 5: 6, 7: 8, 9: 10, 11: 12}

In [65]:
#ans 41
list1 = ['nitin','aniket','pranav']
list2 = [1,2,3]
dict1 = dict(zip(list1,list2))
print(dict1)

TypeError: 'dict' object is not callable

In [66]:
#ans 42
d1 = {'a':100,'b':200,'c':300}
d2 = {'a':300,'b':200,'d':400}
d3 = {}
for key in d1:
    if key in d2:
        d3[key]= d2[key]+d1[key]
print(d3)

{'a': 400, 'b': 400}

In [68]:
#ans 43
dict1 = {'a':1,'b':2,'c':2,'d':4}
dict2 = set (dict1.values())
print(dict2)

{1, 2, 4}

In [ ]:
#ans 44
#ans - to bind object of multiple collection.

In [69]:
#ans 45
dic = {'1':['a','b'],'2':['c','d']}

In [ ]:
#ans 46